<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-list>
          <ion-input
            label="Correo Electronico"
            label-placement="floating"
            fill="solid"
            placeholder="Ingrese su correo"
            type="email"
          ></ion-input>
          <br />
          <ion-input
            label="Contraseña"
            label-placement="floating"
            fill="solid"
            placeholder="Ingrese su contraseña"
            type="password"
          ></ion-input>
          <br /><br />
          <ion-button expand="full"> Ingresar </ion-button>
          <br />
          <app-signin-with-google (clickMe)="login()" />
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
