<ion-content>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <!-- Nombre de la receta -->
    <ion-text color="tertiary" class="text-box-form">
      <h3>Ingrese los datos de la receta</h3>
    </ion-text>
    <br />
    <ion-item>
      <ion-input
        class="ion-margin-horizontal"
        formControlName="nombre"
        label="Nombre de la receta"
        labelPlacement="floating"
        placeholder="Ingrese el nombre"
        type="text"
        clearInput="borrar"
      >
      </ion-input>
    </ion-item>

    <!-- Tiempo de cocción -->
    <br />
    <ion-text color="tertiary" class="text-box-form">
      <h4>Tiempo de cocción</h4>
    </ion-text>
    <!-- <ion-item>
      <ion-input
        class="ion-margin-horizontal"
        formControlName="hora"
        label="Hora:"
        type="number"
        placeholder="Digite la hora"
        clearInput="borrar"
      ></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-input
        class="ion-margin-horizontal"
        formControlName="minutos"
        label="Minutos:"
        type="number"
        placeholder="Digite el minuto"
        clearInput="borrar"
      ></ion-input>
    </ion-item>

    <!-- Porciones -->
    <br />
    <ion-text color="tertiary" class="text-box-form">
      <h4>Porciones</h4>
    </ion-text>
    <ion-item>
      <ion-input
        class="ion-margin-horizontal"
        formControlName="porciones"
        label="Porciones:"
        type="number"
        placeholder="Numero de porciones"
        clearInput="borrar"
      ></ion-input>
    </ion-item>

    <!-- Ingredientes -->
    <br />
    <ion-text color="tertiary" class="text-box-form">
      <h4>Ingredientes</h4>
    </ion-text>
    <ion-list formArrayName="ingredientes" class="ingrediente-box">
      @for (ingrediente of ingredientes.controls; track $index) {

      <div class="input-box">
        <ion-textarea
          [formControlName]="$index"
          label="Ingrediente {{$index + 1}}"
          labelPlacement="floating"
          placeholder="Ingrese el ingrediente"
          [counter]="true"
          [autoGrow]="true"
          maxlength="50"
        ></ion-textarea>

        @if ($index !== 0) {
        <ion-button (click)="removeIngrediente($index)" color="danger">
          <ion-icon name="close-circle-outline" size="large"></ion-icon>
        </ion-button>
        }
      </div>

      }
      <ion-button (click)="addIngrediente()" color="tertiary">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-list>

    <!-- Preparación -->
    <br />
    <ion-text color="tertiary" class="text-box-form">
      <h4>Preparación</h4>
    </ion-text>
    <ion-list formArrayName="preparacion" class="pasos-box">
      @for (paso of preparacion.controls; track $index) {

      <div class="input-box">
        <ion-textarea
          class="ion-margin-horizontal"
          [formControlName]="$index"
          label="Paso de preparación {{$index + 1}}"
          labelPlacement="floating"
          placeholder="Ingrese el paso"
          type="text"
          [counter]="true"
          [autoGrow]="true"
          maxlength="180"
        ></ion-textarea>

        @if ($index !== 0) {
        <ion-button (click)="removePreparacion($index)" color="danger">
          <ion-icon name="close-circle-outline" size="large"></ion-icon>
        </ion-button>
        }
      </div>

      }
      <ion-button (click)="addPreparacion()" color="tertiary">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-list>

    <!-- Región y Tipo de plato-->
    <br />
    <ion-text color="tertiary" class="text-box-form">
      <h4>Región y Tipo de plato</h4>
    </ion-text>
    <ion-item>
      <ion-label>Región</ion-label>
      <ion-select formControlName="region">
        <ion-select-option value="costa">Costa</ion-select-option>
        <ion-select-option value="sierra">Sierra</ion-select-option>
        <ion-select-option value="selva">Selva</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Plato</ion-label>
      <ion-select formControlName="tipo">
        <ion-select-option value="entrada">Entrada</ion-select-option>
        <ion-select-option value="sopa">Sopa</ion-select-option>
        <ion-select-option value="plato de fondo"
          >Plato de fondo</ion-select-option
        >
      </ion-select>
    </ion-item>

    <!-- Información nutricional -->
 <!--    <br />
    <ion-text color="tertiary" class="text-box-form">
      <h4>Información nutricional</h4>
    </ion-text>
    <ion-list formGroupName="infoNutricional">
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="carbohidratos"
          label="Carbohidratos (g):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="energia"
          label="Energía (kcal):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="grasas"
          label="Grasas (g):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="fibra"
          label="Fibra (g):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="proteina"
          label="Proteína (g):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="grasasSaturadas"
          label="Grasas Saturadas (g):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="sodio"
          label="Sodio (mg):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-margin-horizontal"
          formControlName="azucares"
          label="Azúcares (g):"
          type="number"
          clearInput="borrar"
        ></ion-input>
      </ion-item>
    </ion-list>
 -->
    <!-- foto -->

    <ion-text color="tertiary" class="text-box-form">
      <h3>imagen de la receta</h3>
    </ion-text>
    @if (capturedImages.length === 0) {
    <ion-button (click)="openModal()" color="tertiary" expand="full"
      >Seleccionar imagen</ion-button
    >
    }

    <app-camara-modal
      [isOpen]="isModalOpen"
      (closeModalEvent)="closeModal()"
      (captureEvent)="handleCapture($event)"
    ></app-camara-modal>
    <ion-list>
      @for (image of capturedImages; track $index) {
      <div class="box-btn-img">
        <img [src]="image" alt="Captured {{$index}}" width="100px" />

        <ion-button (click)="removeImg($index)" color="danger">
          <ion-icon name="close-circle-outline" size="large"></ion-icon>
        </ion-button>
      </div>
      }
    </ion-list>
    <!-- Botón de envío -->
    <ion-button
      expand="block"
      type="submit"
      [disabled]="isLoading"
      [color]="isLoading ? 'dark': 'primary'"
    >
      {{isLoading ? "Subiendo..." : "Subir Receta" }}
    </ion-button>
    <br />
    <br />
    <br />
  </form>
</ion-content>
